{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadir</title>
    <link rel="stylesheet" href="{% static 'Hadir/main.css' %}">
    <link rel="stylesheet" href="{% static 'Hadir/log-reg-style.css' %}">
    <link rel="stylesheet" href="{% static 'Hadir/main.css' %}">
    <link rel="stylesheet" href="{% static 'Hadir/class.css' %}">
    <link rel="stylesheet" href="{% static 'Hadir/attendance.css' %}">

</head>

<body>
    <!-- <div id="intro">
        <p> center</p>
    </div> -->
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <a href="/Hadir/"><img src="{% static '/Hadir/media/logo.png' %}"></a>
                <!-- <div class="menu-toggle" id="mobile-menu">
                    <a class="nav-item" href="/Hadir/register">Register</a>
                    <a class="nav-item" href="/Hadir/login">Login</a> -->

                <!-- <span class="bar">a</span>
                    <span class="bar">b</span>
                    <span class="bar">c</span> -->

                <!-- </div> -->
                <ul class="nav no-search">
                    <!-- <li class="nav-item"><a href="#">Home</a></li> -->
                    <!-- <li class="nav-item"><a href="#">Contact Us</a></li> -->
                    <a class="nav-item" href="/Hadir/register">Register</a>
                    <a class="nav-item" href="/Hadir/login">Login</a>
                    <a class="nav-item" href="/Hadir/logout">Logout</a>

                    <!-- <i class="fas fa-search" id="search-icon"></i> -->
                    <!-- <input class="search-input" type="text" placeholder="Search.."> -->
                </ul>
            </nav>
            <br>
            {% block main_content %}
            {% endblock %}
            <br>
            <footer>

                <p> ©2022
                    Capstone project section (198), All Rights Reserved
                </p>
            </footer>


</body>