{% extends 'HadirApp/base.html' %}

{% block main_content %}


<ul>
    <h2>{{currentClass}} students:</h2>
    {% for student in classStd %}
    <li>{{student}}</li>
</ul>

{% endfor %}
<br>
<a href="/Hadir/student_enrollment/{{currentClass.class_name}}-{{currentClass.class_id}}"> add students</a> <br>

<br>
<a href="/Hadir/Classes/{{currentClass.class_name}}-{{currentClass.class_id}}/Attendance"> Take Attendance
</a><br>

<br>
<a href="/Hadir/Classes/{{currentClass.class_name}}-{{currentClass.class_id}}/Dashboard"> Dashboard
</a>
{% endblock %}