<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class</title>
    <link rel="stylesheet" href="log-reg-style.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="class.css">
    <link rel="stylesheet" href="attendance.css">
    <style>
    body {
        background: #ECF0F1 !important;
        
    }
    #image{
        margin: 20px 0 20px;
        border: 1px dotted black;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    #image h1{
        color: rgba(0, 0, 0, 0.4);
    }
    
    </style>
    <!-- <link rel="stylesheet" href="../front/mainStyle.css"> -->
</head>

<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <a href="/index.html"><img src="/media/logo.png"></a>
                <div class="menu-toggle" id="mobile-menu">
                    <a class="nav-item" href="register.html" target="_blank">Register</a>
                    <a class="nav-item" href="login.html" target="_blank">Login</a>

                    <!-- <span class="bar">a</span>
                    <span class="bar">b</span>
                    <span class="bar">c</span> -->

                </div>
                <ul class="nav no-search">
                    <!-- <li class="nav-item"><a href="#">Home</a></li> -->
                    <!-- <li class="nav-item"><a href="#">Contact Us</a></li> -->
                    <a class="nav-item" href="/register.html" target="_blank">Register</a>
                    <a class="nav-item" href="/login.html" target="_blank">Login</a>
                    <!-- <i class="fas fa-search" id="search-icon"></i> -->
                    <!-- <input class="search-input" type="text" placeholder="Search.."> -->
                </ul>
            </nav>
        </div>


        <div class="container">
            <h1> Insert a photo of the hall</h1>
            
            
            <div id="image">
                <h1>add image from galary</h1>
            </div>
            <button style="margin: auto;"type="submit" name="insert" id="insert">Insert</button>
        </div> 

        

        <footer>

            <p> ©2022
                Capstone project section (198), All Rights Reserved
            </p>
        </footer>

        <script>
            const create = document.getElementById("create");
            // console.log('si senior');
            
            create.addEventListener('click',(event)=>{

            const img = document.querySelector('#qr');
            const numOfStudents = document.getElementById("numOfStudents").value;
            console.log(numOfStudents);
            img.style.opacity = "100";
            });
            
            // function click() {
           
            // }
        </script>
</body>

</html>