{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Hadir/log-reg-style.css' %}">
    <link rel="stylesheet" href="{% static 'Hadir/main.css' %}">

    <style>
        footer {
            position: absolute;
        }
    </style>
    <!-- <link rel="stylesheet" href="../front/mainStyle.css"> -->
</head>

<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="grad-bar"></div>
            <nav class="navbar">
                <a href="/Hadir/"><img src="{% static 'Hadir/media/logo.png' %}"></a>
                <div class="menu-toggle" id="mobile-menu">
                    <a class="nav-item" href="register">Register</a>
                    <a class="nav-item" href="login">Login</a>

                    <!-- <span class="bar">a</span>
                    <span class="bar">b</span>
                    <span class="bar">c</span> -->

                </div>
                <ul class="nav no-search">
                    <!-- <li class="nav-item"><a href="#">Home</a></li> -->
                    <!-- <li class="nav-item"><a href="#">Contact Us</a></li> -->
                    <a class="nav-item" href="register">Register</a>
                    <a class="nav-item" href="login">Login</a>
                    <!-- <i class="fas fa-search" id="search-icon"></i> -->
                    <!-- <input class="search-input" type="text" placeholder="Search.."> -->
                </ul>
            </nav>
        </div>

        <div id="container">
            <form id="log-form" action="" method="POST">
                {% csrf_token %}
                <div class="box">
                    <h1>
                        Login
                    </h1>
                    <input class="input" type="username" placeholder="username" minlength="3" title="Enter your email"
                        required='required' name="username" id="email">
                    <!-- it is a must to use name and id -->
                    {% if emailErr %}
                    <span style="color: brown;" id="emailError">{{emailErr}} <a href="register">create
                            account?</a></span>
                    {% endif %}
                    <input class="input" type="password" placeholder="P@$$w0rd" title="6 char at least" maxlength="20"
                        minlength="6" required='required' name="password" id="password">
                    {% if passErr %}
                    <span style="color: brown;" id="passError">{{passErr}} <a href="">Forgot password?</a></span>
                    {% endif %}

                    {% if Err %}
                    <span style="color: brown;" id="passError">{{Err}}</span>
                    {% endif %}
                    <!-- <php?></php> -->
                    <button id="subtn" type="submit" value="submit">Login</button>

                    <a href="register">New here?</a>
                </div>
        </div>

        </form>

        <!-- <footer>

            <p> ©2022
                Capstone project section (198), All Rights Reserved
            </p>
        </footer> -->
</body>

</html>